html, body { 
    margin:0; 
    height: 100%;
}
.app{
    height: 100%;
}
.username{
    color: rgb(137, 98, 173);
    padding-left: 5px;
    font-weight: 600;
}

.user_firstname{
    color: whitesmoke;
    background-color: rgb(99, 60, 136);
    padding: 8px 8px;
}

.channels-list{
    background-color: rgb(38,38,39);
    font-weight: bolder;
}

.count-users {
    float:right;
    padding: 0px 2px;
    color: white;
    background-color: rgb(82, 54, 109);
    font-size: 11px;
    font-weight: bolder;
}

li {
    padding-bottom: 10px;
}

.show-message {
    background-color: rgb(38,38,39);
    overflow-x: hidden;
    overflow-y: scroll;
}

.textarea {
    resize: none;
    width: 90%;
    height: 50px;
    padding: 0px;
}
.message-content{
    color: #faf5f5;

}

.send{
    display: inline;
    margin: 0px;
    padding: 0;
    align-content: center;
}